@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    font-family: Roboto, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    background: #c7b7a0;
}

.calculator {
    display: flex;
    flex-direction: column;
}

.top-bar {
    justify-content: space-evenly;
    background: #364449;
}

.top-bar p {
    color: #ffffff;
    font-weight:900;
    padding: 0 10px;
}

.top-bar p {
    text-align: end;
}

.buttons {
    display: flex;
}

button {
    border-radius: 0;
    border: 1px solid #7793a6;
}

.operator-button {
    background: #c1cdd5;
}

.number-button {
    background: #eeeeee;
}

.calculate-button {
    background: #ff5f6c;
}

.col-one {
    display: flex;
    flex-direction: column;
}

.col-two {
    display: flex;
    flex-direction: column;
}

.col-three {
    display: flex;
    flex-direction: column;
}

.col-four {
    display: flex;
    flex-direction: column;

}

.col-four#divide {
    flex: 1 0 0;
}

.col-four#calculate {
    flex: 4 0 0; 
}