@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
}

body {
    min-height: 100vh;
    background: #d37fbd;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Calculator shell */
.calculator {
    display: flex;
    flex-direction: column;
    width: min(360px, 100vw);
    aspect-ratio: 9 / 16;
    padding: 1rem;
    border-radius: 20px;
    border: 1px solid black;
}

/* Display */
.top-bar {
    flex: 1;
    color: #ffffff;
    font-size: clamp(2.5rem, 6vw, 4rem);
    justify-content: space-evenly;
    background: #364449;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 1rem;    
}

/* buttons */
.buttons {
    flex: 4;
    display: flex;
}

button {
    border-radius: 0;
    border: 1px solid #7793a6;
    margin: 0;
    padding: 10px;
}

.col {
    flex: 1;
    display: flex;
    flex-direction: column;
}


.btn {
    flex: 1;
    border: 1px solid; #7793a6;
    font-size: clamp(1.2rem, 3vc, 1.8rem);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

/* colors */

.op {
    background: #c1cdd5;
}

.num {
    background: #eeeeee;
}

.calc {
    background: #ff5f6c;
}

.col-one {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
}

.calc {
    flex: 4;
}

.btn:active {
    filter: brightness(1.2);
}